@model List<ProdutoModel>

<link rel="stylesheet" href="~/css/ListarProdutos.css">

<div class="Header">
    <h1>Lista de Produtos</h1>
    <a asp-controller ="Produto" asp-action ="CadastrarProdutos"class="btn btn-primary">CadastrarProduto</a>

</div>
<div class="Tab-Container">

    <div class="Tabela">
       
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Opções</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>

                        <td>@p.produtoID</td>
                        <td>@p.nomeProduto</td>
                        <td>@p.valorProduto.ToString("C" ,new System.Globalization.CultureInfo("pt-BR"))</td>
                        <td>
                            <div class="Botoes">
                            <form asp-controller = "Produto" asp-action="DeletarProduto" method="get">
                            <input type="hidden" name="produtoID" value="@p.produtoID"></input>
                            <input type="hidden" name="nomeProduto" value="@p.nomeProduto"></input>
                             <input type="hidden" name="valorProduto" value="@p.valorProduto"></input>
                            <button asp-Controller = "Produto" asp-action ="DeletarProduto"  class="btn btn-danger">Deletar</button>

                            
                            </form>
                            <form asp-controller="Produto" asp-action="EditarProduto" method="get">
                                <input type="hidden" name="produtoID" value="@p.produtoID" />
                                <button asp-Controller="Produto" asp-action="EditarProduto" class="btn btn-primary">Editar</button>
                            </form>
                            </div>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
                    
    </div>
</div>